body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgb(248, 238, 255);
    text-align: center;
}

h1 {
    color: #000;
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

.controls input {
    padding: 5px;
    width: 50px;
    text-align: center;
}

button {
    padding: 8px 12px;
    margin: 5px;
    background-color: #181C14;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.tower-container {
    margin: auto;
    display: flex;
    max-width: 50rem;
    justify-content: space-around;
}

.rod {
    width: 10px;
    height: 250px;
    background-color: rgba(74, 37, 89, 0.822);
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
}

.disk {
    height: 30px;
    border-radius: 15px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}


@keyframes moveUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-250px); /* Move up to the top of the rod */
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-250px); /* Start from the top of the rod */
    }
    100% {
        transform: translateY(0); /* Fall to the destination */
    }
}

.animate-up {
    animation: moveUp 0.4s forwards; /* Adjust duration as needed */
}

.animate-down {
    animation: moveDown 0.4s forwards; /* Adjust duration as needed */
}
